<h1>All Events</h1>

<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
<% end %>

<p class="mt-5">
            <% if @current_user %>
                <a href="/events/new" class="btn btn-primary">Add event</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Sign in to add events</a>
            <% end %>
 </p> 