<h2>
    <i class="far fa-calendar-alt"></i>
    <%=@current_time.strftime "%d %B %Y %H:%M"%>
</h2>
<h1>Review for <%= @event[:title] %></h1>

<form action="/events/<%= @event[:id] %>/rsvps/create">
  <div class="form-group">
    <label>Would you recommend this to your friends? (0= not at all likely, 10= extremely likely)</label>
    <select class="form-control" name="rate">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>